a {
  text-decoration: none;
  color: blue;
}


.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: beige;
}

.navbar-link {
  border-style: groove;
  border-color: lightgrey;
  border-radius: 9%;
  padding: 0.25%;
}

.brackets {
  display: flex;
  justify-content: space-evenly;
  align-items: center;  
}

.winner img {
  width: 75%;
  height: auto;
  border-style: solid;
}

.round-of-two img {
  width: 50%;
  height: auto;
  border-style: solid;
}

.round-of-four img {
  width: 25%;
  height: auto;
  border-style: solid;
}

.round-of-eight img {
  width: 15%;
  height: auto;
  border-style: solid;
}

.round-of-sixteen img {
  width: 10%;
  height: auto;
  border-style: solid;
}

.all-game-display {
  display: flex;
  overflow: auto;
  justify-content: space-between;
}

.home-game-display {
  border-style: groove;
  width: 200px;
  height: 130px;
  justify-content: space-between
}

.name-flag-schedule {
  display: grid;
  grid-template-columns: 30% 70%;
}

.name-and-flag img {
  border-style: solid;
}

.date-display {
  border-style: groove;
  width: 200px;
  height: 130px;
  justify-content: center;
  align-items: center;
}

.date {
  justify-content: center;
}

.home-game-display img {
  width: 15%;
  height: auto;
  border-style: solid;
}

.schedule-game-display {
  border-style: groove;
  width: 420px;
  height: 200px;
}

.schedule-game-display img {
  width: 10%;
  height: auto;
  border-style: solid;
}

.roundOne-game-display {
  border-style: groove;
  width: 170px;
  height: 250px;
}

.roundTwo-game-display {
  border-style: groove;
  width: 170px;
  height: 506px;
}

.roundThree-game-display {
  border-style: groove;
  width: 170px;
  height: 1018px;
}

.roundFour-game-display {
  border-style: groove;
  width: 170px;
  height: 2042px;
}

.winner-game-display {
  border-style: groove;
  width: 170px;
  height: 2042px;
}

.home {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 15px;
  margin: 15px;
  box-sizing: border-box;
}

.home-story {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

.home-story img {
  border-style: solid;
}

.standings {
  padding: 15px;
  margin: 15px;
}

.rosters {
  padding: 15px;
  margin: 15px;
  box-sizing: border-box;
}

.rosters h1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.rosters img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.home img {
  width: 35%;
  height: auto;
}

.schedule {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.schedule-with-dropdown {
  padding: 15px;
  margin: 15px;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  margin: 15px;
}