.navbar {
  display: flex;
  justify-content: space-evenly;
}

.all-game-display {
  display: flex;
  overflow: auto;
  justify-content: space-between;
}

.home-game-display {
  border-style: groove;
  width: 200px;
  height: 130px;
  justify-content: space-between
}

.date-display {
  border-style: groove;
  width: 200px;
  height: 130px;
  justify-content: center;
  align-items: center;
}

.date {
  justify-content: center;
}

.home-game-display img {
  width: 15%;
  height: auto;
  border-style: solid;
}

.schedule-game-display {
  border-style: groove;
  width: 420px;
  height: 160px;
}

.schedule-game-display img {
  width: 10%;
  height: auto;
  border-style: solid;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 15px;
  box-sizing: border-box;
}

.standings {
  padding: 15px;
  margin: 15px;
}

.rosters {
  padding: 15px;
  margin: 15px;
  box-sizing: border-box;
}

.rosters h1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.rosters img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.home img {
  width: 35%;
  height: auto;
}

.schedule {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.schedule-with-dropdown {
  padding: 15px;
  margin: 15px;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  margin: 15px;
}