.navbar {
  display: flex;
  justify-content: space-evenly;
}

.all-game-display {
  display: flex;
  justify-content: space-evenly;
}

.game-display {
  border-style: groove;
}

.game-display img {
  width: 10%;
  height: auto;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 15px;
  box-sizing: border-box;
}

.rosters {
  padding: 15px;
  margin: 15px;
  box-sizing: border-box;
}

.rosters h1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.rosters img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.home img {
  width: 35%;
  height: auto;
}

.schedule {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

